body {
    background-color: #fff;
}

header {
    background-color: #000033;
    width: 100%;
    height: 100px;
    
}

nav ul li {
    display: inline-block;
    margin-left: 130px;
}

ul li a {
    position: absolute;
    color: #fff;
    text-decoration: dashed;
    margin-top: -80px;
    font-size: 20px;
}

.logo {
    width: 40%;
  
}

.logo img {
    width: 10%;
    padding: 30px;
    
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.titulo h1 {
    width: 30%;
    text-align: center;
    font-size: 150%;
}

.texto {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.texto p{
    font-size: 20px;
}

.imagem0 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.imagem0 img {
    width: 20%;
}

.titulo2 {
    display: flex;
    margin-left: 420px;
    padding: 50px;
}

.imagem {
    display: flex;
    justify-content: center;
}

.imagem img {
    margin-left: 50px;
    float: left;
}

.imagem p {
    width: 40%;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.titulo3 h3 {
    display: flex;
    margin-left: 411px;
    padding: 50px;
    font-size: 25px;
}

.imagem2 img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.imagem2 p {
    width: 60%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.titulo4  {
    display: flex;
    margin-left: 20%;
    padding: 30px;
    padding-left: 0;
    font-size: 20px;
}

.grafico1 {
    display: flex;
    justify-content: center;
}

.grafico1 img {
    width: 40%;
}

.titulo5 h5 {
    font-size: 30px;
    text-align: center;
    padding: 60px;
}

.grafico2 {
    display: flex;
    justify-content: center;
}

.grafico2 img {
    width: 40%;
}

.textografico p {
    margin-left: 20%;
   font-size: 20px;
    padding: 30px;
}

.textografico ul li {
    margin-left: 22.6%;
    padding-bottom: 30px;
}

.textografico .texto2 {
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

.grafico3 {
    display: flex;
    flex-direction: column;
}

.grafico3 img {
    width: 50%;
   margin-left: 20%;
}


.subtitulo {
    display: flex;
    margin-left: 24%;
    padding: 30px;
}

.subtitulo h7 {
    font-size: 25px;
    font-weight: bold;
}

.textofinal {
    width: 50%;
    display: flex;
    margin-left: 20%;
}


.parte2txt {
    width: 50%;
    display: flex;
    margin-left: 20%;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 5%;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #000033;
    
}

