@media (max-width: 2560px) {
    nav ul li {
        margin-left: 150px;
    }
}

@media (max-width: 1440px) {
    nav ul li {
        margin-top: 25px;
    }


    .titulo h1 {
       width: 50%;
    }

    .titulo2 {
        margin-left: 300px;
    }

    .titulo3 {
        margin-left: 5%;
    }
}

@media (max-width: 1024px) {
    .titulo3 h3 {
        margin-left: 250px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 70%;
    }

    .titulo {
        width: 100%;
    }

    nav ul li {
        margin-top: 30px;
    }

    .titulo2 {
        margin-left: 150px;
    }

    .titulo3 h3 {
        margin-left: 120px;
    }
}

@media (max-width: 425px) {

    nav ul li {
        margin-top: 30px;
        margin-left: 120px;
    }

    .logo {
        width: 120%;
    }

    .titulo h1 {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-right: 30px;
    }

    .titulo2  {
        margin-left: 30px;
    }

    .titulo3 h3 {
        width: 50%;
        margin-left: 50px;
        text-align: center;
    }

    .imagem p {
        width: 100%;
        text-align: center;
        margin-left: 100px;
    }

    .texto {
        width: 70%;
        text-align: center;
    }


    .imagem {
        width: 50%;
        flex-direction: column;
    }
}