@media (max-width: 2560px) {
    nav ul li {
        margin-left: 150px;
    }
}

@media (max-width: 1440px) {
    nav ul li {
        margin-top: 25px;
    }


    .titulo h1 {
       width: 50%;
    }

    .titulo2 {
        margin-left: 300px;
    }

    .titulo3 {
        margin-left: 5%;
    }
}

@media (max-width: 1024px) {
    .titulo3 h3 {
        margin-left: 250px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 70%;
    }

    .titulo {
        width: 100%;
        padding: 0;
        padding-top: 10%;
    }

    nav ul li {
        margin-top: 30px;
    }

    .titulo2 {
        margin-left: 150px;
    }

    .titulo3 h3 {
        margin-left: 120px;
    }
}

@media (max-width: 425px) {

    header {
        width: 100%;
    }

    nav ul li {
        margin-top: 40px;
        margin-left: 120px;
    }

    .logo {
        width: 10%;
    }

    .logo img {
        width: 100%;
    }

    .subtitulo {
        margin: 0;
        margin-left: 10%;
    }

    .titulo {
        width: 100%;
        padding: 0;
        padding-top: 8%;
    }

    .imagem0 img {
        width: 100%;
    }

    .titulo h1 {
        width: 80%;
        justify-content: center;
        text-align: center;
        padding-right: 30px;
    }

    .titulo2  {
        margin-left: 30px;
    }

    .titulo3 h3 {
        width: 50%;
        margin: 0;
        text-align: center;
    }

    .imagem p {
        width: 100%;
        text-align: justify;
        margin-left: 20px;
    }

    .texto {
        width: 70%;
        text-align: center;
    }


    .imagem {
        display: flex;
        width: 80%;
        flex-direction: column;
    }

    .imagem2 img {
        width: 90%;
        justify-content: center;
        margin-left: 10%;
    }

    .grafico1 img {
        width: 100%;
        margin-left: 10%;
    }

    .grafico2 img {
        width: 100%;
        margin-left: 10%;
    }

    .grafico3 img {
        width: 100%;
        margin: 0;
    }

    .textofinal p {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

   .parte2txt {
    text-align: center;
   }
}